<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
        </div>
        <button type="submit" [disabled]="formSubmitted">Login</button>
      </form>
</body>
</html>






