<div class="all">
    <div class="nologin" *ngIf="user==null">
        <h1>Inicia sesión para acceder al contenido de <strong>Horas beca
                UVG</strong></h1>
    </div>

    <div class="container mt-5" *ngIf="user">
        <div class="row">

            <div *ngIf="user.role=='ROLE_USER'">
                <div class="card-container" *ngFor="let activity of activities">
                    <!-- Usamos *ngFor para iterar sobre las actividades -->
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">{{ activity.name }}</span>
                            <div class="hours-container">
                                <span class="card-hours">Horas</span>
                                <span class="card-hours-value">{{ activity.hours
                                    }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><strong>Fecha:</strong> {{ activity.date }}</p>
                            <p><strong>Descripción:</strong> {{
                                activity.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="user.role=='ROLE_ADMIN'">
                <div
                    class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="mb-0">Todas las atividades</h1>
                    <button type="button" class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addActivityModal">
                        Agregar Actividad
                    </button>
                </div>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Horas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let activity of allactivities">
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.hours }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button
                                        (click)="confirmDeleteActivity(activity._id)"
                                        class="btn btn-secondary">Eliminar</button>
                                    <button (click)="viewStudents(activity._id)"
                                        class="btn btn-info"
                                        data-bs-toggle="modal"
                                        data-bs-target="#studentModal">Ver
                                        Estudiantes</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="studentModal" tabindex="-1"
                aria-labelledby="studentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="studentModalLabel">Lista
                                de
                                Estudiantes</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students">
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.email }}</td>
                                        <td>{{ student.role }}</td>
                                        <td>
                                            <button
                                                (click)="unassignStudent(student._id)"
                                                class="btn btn-danger">Desasignar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Asignar Estudiantes -->
            <div class="modal fade" id="assignStudentModal" tabindex="-1"
                aria-labelledby="assignStudentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="assignStudentModalLabel">Asignar
                                Estudiantes</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of allUsers">
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>
                                            <button
                                                (click)="assignStudent(user._id)"
                                                class="btn btn-primary">Asignar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addActivityModal" tabindex="-1"
        aria-labelledby="addActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addActivityModalLabel">Agregar
                        Nueva Actividad</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (submit)="onSubmit()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name"
                                name="name" [(ngModel)]="newActivity.name"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="description"
                                class="form-label">Descripción</label>
                            <textarea class="form-control" id="description"
                                name="description"
                                [(ngModel)]="newActivity.description" rows="4"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="place" class="form-label">Lugar</label>
                            <input type="text" class="form-control" id="place"
                                name="place" [(ngModel)]="newActivity.place"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="date"
                                name="date" [(ngModel)]="newActivity.date"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="hours" class="form-label">Horas</label>
                            <input type="number" class="form-control" id="hours"
                                name="hours" [(ngModel)]="newActivity.hours"
                                required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"
                                class="btn btn-primary">Agregar
                                Actividad</button>
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
