<div *ngIf="user.role=='ROLE_USER'">
    <div class="card-container" *ngFor="let activity of activities">
        <!-- Usamos *ngFor para iterar sobre las actividades -->
        <div class="card">
            <div class="card-header">
                <span class="card-title">{{ activity.name }}</span>
                <div class="hours-container">
                    <span class="card-hours">Horas</span>
                    <span class="card-hours-value">{{ activity.hours }}</span>
                </div>
            </div>
            <div class="card-body">
                <p><strong>Fecha:</strong> {{ activity.date }}</p>
                <p><strong>Descripción:</strong> {{ activity.description }}</p>
            </div>
        </div>
    </div>
</div>