<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de Horas Beca</title>
    <link rel="stylesheet" href="C:\Users\user\Documents\GitHub\horasbeca-frontend\horas-beca-frontend\src\app\components\activities\activities.component.css">
</head>
<body>

    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Título Actividad</span>
                <div class="hours-container">
                    <span class="card-hours">Horas</span>
                    <span class="card-hours-value">10</span>
                </div>
            </div>
            <div class="card-body">
                <p><strong>Fecha:</strong> 00-00-0000</p>
                <p><strong>Descripción corta:</strong></p>
            </div>
            <div class="card-footer">
                <button class="assign-btn">Asignar</button>
            </div>
        </div>
    </div>

</body>
</html>
