/* home.component.css */

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

*{
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar {
    width: 100%;
    background-color: #5CA972;
    padding: 20px;
    margin-bottom: 20px;
  }

 
  
  .content {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    margin-top: 20px;
    text-align: center;
  }
  
  .table thead {
    background-color: #BCDBC5;
    color: rgb(0, 0, 0);
  }
  thead th {
    background-color: #0B9E51; /* Color personalizado de fondo */
    color: white; /* Color del texto */
    width: 200px;
    text-align: center;
  }

  
  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
    padding: 01 rem;
  }
  
  .btn-group .btn {
    margin-right: 5px;
  }
  
  .btn-group .btn:last-child {
    margin-right: 0;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-info {
    background-color:#5CA972;
    border-color: #5CA972;
    color: white;
  }
  
  .btn-info:hover {
    background-color: #117a8b;
    border-color: #0f6674;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #565e64;
    border-color: #4e555b;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-header .btn-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .nologin {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  
  body {
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
  }
  

/* CSS ADMIN */
.admin-home {
  margin: 0 20px; /* Márgenes a la derecha e izquierda */
}

.admin-home .search-bar {
  display: flex;
  margin-bottom: 20px;
  background-color: #e8f5e9;  
  padding: 10px;
  border-radius: 5px;
  width: 49.5%; /* Ajusta el ancho de la barra de búsqueda */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-home .search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.admin-home .search-bar button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.admin-home .sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribuye el espacio entre los cuadros */
  gap: 20px;
  width: 100%;
}

.admin-home .past-activities, .admin-home .upcoming-activities {
  flex: 1;
  background-color: #e8f5e9; /* Color de fondo */
  padding: 20px;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-bottom: 20px;
  border: 1px solid #e0e0e0; /* Añadir borde */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el efecto hover */
  /* Eliminar la altura fija */
}

.admin-home .past-activities:hover, .admin-home .upcoming-activities:hover {
  transform: translateY(-5px); /* Efecto de elevación */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

.admin-home .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-home .table {
  width: 100%;
  table-layout: auto;
  font-family: 'Arial', sans-serif; /* Mejorar tipografía */
  font-size: 14px; /* Ajustar tamaño de fuente */
  color: #333; /* Color de texto */
}

.admin-home .btn-group {
  display: flex;
  gap: 10px;
}

.admin-home .past-activities ul, .admin-home .upcoming-activities ul {
  list-style-type: none; /* Quitar viñetas */
  padding: 0;
  margin: 0;
}

.admin-home .past-activities li, .admin-home .upcoming-activities li {
  background-color: #f9f9f9; /* Color de fondo de los elementos de la lista */
  padding: 10px 15px; /* Margen y padding */
  border-bottom: 1px solid #e0e0e0; /* Borde inferior */
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.admin-home .past-activities li:hover, .admin-home .upcoming-activities li:hover {
  background-color: #e0f7fa; /* Color de fondo en hover */
}

.admin-home .past-activities li:last-child, .admin-home .upcoming-activities li:last-child {
  border-bottom: none; /* Quitar borde inferior del último elemento */
}